body {
    max-width: 960px;
    margin: 0 auto;
    background: #F2F2F2;
    display: flex;
    flex-direction: column; 
    padding: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;    
    background: white;
    border-radius: 10px;
    box-shadow: 0rem 1.375rem 1.75rem 0rem rgba(27,54,74,0.09);
    justify-content: center;
    align-items: center;
}

.image-header {
    padding-top: 10px;
    text-align: center;
}

.image {
    width: 100%;
}

.link {
    border-radius: 15px;
    padding: 20px;  
    text-align: center;
    margin: 20px;
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
    font-size: 30px;
    background: #c2dde6;
}

.link-holder {
    margin-bottom: 30px;
}

a {
    color: black;
    text-decoration: inherit;
}
